<h1>word&#8226;counter</h1>

<form action='/wordcount'>
  <div class="form-group">
    <label for="sentence">sentence to evaluate</label>
    <input id="sentence" name="sentence" class="form-control" type="text" placeholder="ex: Doug and Gib are hella cute doggies" autofocus>
  </div>
  <div class="form-group">
    <label for="word">words to check the sentence for</label>
    <input id="word" name="word" class="form-control" type="text" placeholder="ex: cute">
  </div>
  <button type="submit" class="btn">Count 'em up!</button>
</form>
